<template>
  <div class="buttons-container">
    <calculator-button
        v-for="b in buttons"
        v-model="currentKeySync"
        :type="b.type"
        :key-code="b.keyCode"
        :key="b.keyCode"
        @pressed="b.function"
    />
  </div>
</template>
<script>
import CalculatorButton from './CalculatorButton.vue'

export default {
  name: 'CalculatorButtons',
  components: {CalculatorButton},
  props: {
    currentKey: {}
  },
  data:()=>({
    previous: null,
    operator: null,
    operatorClicked: false,
    display: 0
  }),
  emits:{
    "update:display":{

    },
  },
  methods: {
    clear() {
      this.display = 0;
    },
    sign() {
      this.display =
          this.display < 0
              ? (this.display = this.display - this.display * 2)
              : (this.display = this.display - this.display * 2);
    },
    percent() {
      this.display = this.display / 100;
    },
    append(number) {
      if (this.operatorClicked === true) {
        this.display = '';
        this.operatorClicked = false;
      }
      this.display =
          this.display === 0
              ? (this.display = number)
              : '' + this.display + number;
    },
    decimal() {
      if (this.display.indexOf('.') === -1) {
        this.append('.');
      }
    },
    divide() {
      this.operator = (a, b) => a / b;
      this.previous = this.display;
      this.operatorClicked = true;
    },
    multiply() {
      this.operator = (a, b) => a * b;
      this.previous = this.display;
      this.operatorClicked = true;
    },
    subtract() {
      this.operator = (a, b) => a - b;
      this.previous = this.display;
      this.operatorClicked = true;
    },
    add() {
      this.operator = (a, b) => a + b;
      this.previous = this.display;
      this.operatorClicked = true;
    },
    equal() {
      this.display = this.operator(Number(this.previous), Number(this.display));
      this.previous = null;
      this.operatorClicked = true;
    }
  },
  computed: {
    currentKeySync:{
      get(){
        return this.currentKey
      },
      set(newValue){
        this.$emit("update:currentKey", newValue)
      }
    },
    buttons ()  {
      return [
        {
          keyCode: "C",
          type: "number",
          function: this.clear
        },
        {
          keyCode: "+/-",
          type: "number",
          function: this.sign
        },
        {
          keyCode: "%",
          type: "number",
          function: this.percent
        },
        {
          keyCode: "/",
          type: "operator",
          function: this.divide
        },
        {
          keyCode: "7",
          type: "number",
          function: this.append
        },
        {
          keyCode: "8",
          type: "number",
          function: this.append
        },
        {
          keyCode: "9",
          type: "number",
          function: this.append
        },
        {
          keyCode: "X",
          type: "operator",
          function: this.multiply
        },
        {
          keyCode: "4",
          type: "number",
          function: this.append
        },
        {
          keyCode: "5",
          type: "number",
          function: this.append
        },
        {
          keyCode: "6",
          type: "number",
          function: this.append
        },
        {
          keyCode: "-",
          type: "operator",
          function: this.subtract
        },
        {
          keyCode: "1",
          type: "number",
          function: this.append
        },
        {
          keyCode: "2",
          type: "number",
          function: this.append
        },
        {
          keyCode: "3",
          type: "number",
          function: this.append
        },
        {
          keyCode: "+",
          type: "operator",
          function: this.add
        },
        {
          keyCode: "0",
          type: "expand",
          function: this.append
        },
        {
          keyCode: ".",
          type: "number",
          function: this.append
        },
        {
          keyCode: "=",
          type: "operator",
          function: this.equal
        },
      ];
    }
  },
  watch:{
    display(newValue){
      this.$emit("update:display", newValue)
    }
  }
}
</script>
<style>

.buttons-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}


</style>
