<template>
  <label class="button"
         :class="[type]">
    <input
        type="button"
        class="content"
        :value="keyCode"
        @click="doAction"
    >
  </label>

</template>

<script>
export default {
  name: 'CalculatorButton',
  props: {
    text: {},
    modelValue: {

    },
    keyCode: {},
    type: {
      default: 'operator'
    }
  },
  emits:{
    pressed:{

    },
    'update:modelValue':{

    }
  },
  methods: {
    doAction() {
      this.$emit("update:modelValue", this.keyCode)
    }
  },
  watch:{
    modelValue(val){
      if(val===this.keyCode){
        console.log(val,this.keyCode)
        this.$emit("pressed", val)
      }
    }
  }
}
</script>

<style>

.button {
  align-items: center;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 45px;
  height: 110px;
  justify-content: center;
  transition: filter .3s;
  width: 110px;
}

.content {
  font-size: 45px;
  cursor: pointer;
  background: transparent;
  border: 0;
  transition: filter .3s;
}

.button.function {
  color: black;
  background: #a5a5a5;
}

.function > .content {
  background: #a5a5a5;
}

.button .number {
  background: #292929;
  color: #a5a5a5;
}

.number > .content {
  color: #a5a5a5;
}

.button.expand {
  border-radius: 55px;
  grid-column: 1 / span 2;
  justify-content: flex-start;
  padding-left: 43px;
  width: 250px;
}

.expand > .content {
  color: #a5a5a5;
}


.button.operator {
  background: #f1a33c;
}

.button:active,
.button:focus {
  filter: brightness(120%);
}


</style>
