<template>
  <div class="calculator">
    <calculator-display :display="display"/>
    <CalculatorButtons @update:display="setDisplay"  v-model:currentKey="currentKey"/>
  </div>
</template>
<script>
import CalculatorDisplay from "./CalculatorDisplay.vue"
import CalculatorButtons from "./CalculatorButtons.vue";

export default {
  name: 'Calculator',
  components: {CalculatorButtons, CalculatorDisplay},
  props: {
  },
  data: () => ({
    display: 0,
    currentKey: null
  }),
  methods:{
    setDisplay(newValue){
      this.display= newValue
    }
  },
  mounted() {
    window.addEventListener("keypress", e => {
      this.currentKey = e.key
    });
  },
}
</script>
<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}


.calculator {
  background: black;
  border-radius: 50px;
  color: white;
  height: 850px;
  padding: 20px;
  position: relative;
  width: 563px;
}


</style>
