<template>
  <div class="container">
    <Calculator/>
  </div>
</template>

<script>

import Calculator from "./components/Calculator.vue";

export default {
  components: {
    Calculator
  },
}
</script>
<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}


.container {
  font-family: "Helvetica Neue", sans-serif;
  display: flex;
  margin: 25px;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

</style>
